<main class="pastry-grid-1col">
    <div>
        <div class="control-group">
            <div class="caption">Memory Map<button class="btn-code" (click)="code_onClick($event)">Edit Code</button></div>
            <div class="button-container">
                <span>
                    <label>
                    Memory Start:
                    <input type="text" [ngModel]="memoryStart|toHex" (ngModelChange)="memoryStartChanged($event)">
                    </label>
                </span>
            </div>  
            <div class="content scroll-y">
                <table>
                    <tr>
                        <th></th><th>Label(s)</th><th>Size</th><th>Description</th><th>Address</th><th></th>
                    </tr>
                    <tr *ngFor="let mapEntry of applicationState.memoryMap; index as i">
                        <td><button (click)="moveUpClick(mapEntry, i)">Move Up</button><button (click)="moveDownClick(mapEntry, i)">Move Down</button></td>
                        <td><input type="text" [(ngModel)]="mapEntry.label"/></td>
                        <td>
                            <select [(ngModel)]="mapEntry.size" (change)="onSizeChanged(i, mapEntry.size)">
                                <option [ngValue]="0">ALIAS</option>
                                <option [ngValue]="1">BYTE</option>
                                <option [ngValue]="2">WORD</option>
                                <option [ngValue]="4">LONG</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" [(ngModel)]="mapEntry.description"/>
                        </td>
                        <td>
                            <input type="text" readonly [ngModel]="mapEntry.address|toHex"/>
                        </td>
                        <td><button (click)="memoryMapRemove($event, i)">Remove</button></td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <td colspan="5"><button (click)=memoryMapAdd($event)>+ Add</button></td>
                    </tr>
                </table>
            </div>
            <div class="tool-status"></div>
        </div>
    </div>
</main>
<app-code-editor *ngIf="code !== null" [code]="code" (codeChanged)="onCodeChanged($event)"></app-code-editor>