
table{
    width: 100%;
    background: #DDD;
    text-align: left;
    border-collapse: collapse;
}

table input[type="text"], table select {
    width: 100%;
}

.control-group{
    height: calc(100% - 28px);
    width: 900px;
}