<div class="control-group fill">
    <div class="caption">Level Tools</div>
    <div class="button-container">
        <select [(ngModel)]="applicationState.levelEditMode">
            <option value="tiles">Tiles</option>
            <option value="stamps">Stamps</option>
            <option value="patterns">Patterns (Levels)</option>
            <option value="eraser">Tile Eraser</option>
            <option value="player-start">Place player start</option>
            <option value="place-item">Place Item</option>
            <option value="remove-item">Remove Item</option>
        </select>
    </div>    
    <div class="content icons-container clear" *ngIf="applicationState.levelEditMode === 'tiles'" [ngStyle]="{background: applicationState.activePalette[0].toCSS()}"> 
        <img class="icon" *ngFor="let tile of applicationState.tiles; index as i" src="{{applicationState.tileImageData.get(tile)}}" (click)="icon_onClick($event, i)" (mouseleave)="library_onMouseLeave($event)" (mouseenter)="icon_onHover($event, i)" [ngClass]="{'active': tile === applicationState.activeTile}"/>   
    </div>
    <div class="content icons-container clear" *ngIf="applicationState.levelEditMode === 'stamps'" [ngStyle]="{background: applicationState.activePalette[0].toCSS()}"> 
        <div class="icon" *ngFor="let stamp of applicationState.stamps; index as i" [ngStyle]="{'grid-template-rows': stamp.gridTemplateRows(), 'grid-template-columns': stamp.gridTemplateColumns(), width: stamp.width * 16 + 'px', height: stamp.height * 16 + 'px'}" (click)="icon_onClick($event, i)" (mouseleave)="library_onMouseLeave($event)" (mouseenter)="icon_onHover($event, i)" [ngClass]="{'active': stamp === applicationState.activeStamp}"> 
            <img *ngFor="let tile of stamp.tiles; index as j" src="{{applicationState.tileImageData.get(tile)}}"/>
        </div>   
    </div>
    <div class="content" *ngIf="applicationState.levelEditMode === 'patterns'">
        <select [(ngModel)]="applicationState.activePattern">
            <option *ngFor="let level of applicationState.levels;" [ngValue]="level">{{level.name}} - {{level.width}} x {{level.height}}</option>
        </select>
        <app-level-renderer *ngIf="!!applicationState.activePattern" [level]="applicationState.activePattern" width="400" height="200"></app-level-renderer>
    </div>

    <div class="content" *ngIf="applicationState.levelEditMode === 'eraser'">
        <label>Eraser Width:&nbsp; <input type="number" [(ngModel)]="applicationState.eraserWidth"/> tiles</label>
        <br/>
        <label>Eraser Height: <input type="number" [(ngModel)]="applicationState.eraserHeight"/> tiles</label>
    </div>

    <div class="content" *ngIf="applicationState.levelEditMode === 'place-item'">
        <select [(ngModel)]="applicationState.selectedItemDefinition">
            <option *ngFor="let d of applicationState.itemDefinitions" [ngValue]="d">{{d.label}}</option>
        </select>
    </div>
    <div class="tool-status">{{tooltip}}</div>
</div>