:host{
    display: block;
    height: calc(100% - 28px);
    width: calc(100vw - 450px);
}

:host .button-container label:not(:last-child){
    margin-right: 26px;
}

.button-container span:not(:last-child){
    margin-right: 40px;
}

.button-container button{
    height: 18px;
}

.grid-overlay {
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
}