.palette-selection {
    background: #000;
}

.palette-swatch {
    width: 20px;
    height: 20px;
    float: left;
}

.palette-selection input[type="radio"] {
    float: left;
}

.palette-selection > div {
    height: 30px;
}

.palette-swatch:not(:last-child) {
    margin-right: 2px;
}