<!--The content below is only a placeholder and can be replaced.-->
<div class="pastry-header">
    <header class="header"><h1 class="caption">Pastry</h1></header><div id="console-selection" class="header"><select><option>Sega Genesis/Mega Drive</option></select></div>
    <div class="control-group mode-selection">
        <ul class="control-content tab-group">
            <li><a routerLink="/edit-tiles" routerLinkActive="active">Tiles</a></li>
            <li><a routerLink="/edit-tile-stamps" routerLinkActive="active">Stamps</a></li>
            <li><a routerLink="/edit-sprites" routerLinkActive="active">Sprites</a></li>
            <li><a routerLink="/options" routerLinkActive="active">Options</a></li>
            <li><a routerLink="/vdp" routerLinkActive="active">VDP</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
