.pastry-header header{
    padding: 4px 18px;
}

.pastry-header h1{
    float: left;
}

.pastry-header .console-selection{
    float: right;
}

.console-selection > select {
    height: 100%;
    width: 100%;
}

.console-selection {
    height: 38px;
    width: 400px;
}

.pastry-header .tab-group {
    padding: 8px 18px;
    background: #CCC;
    border-bottom: 1px solid black;
}