<!--The content below is only a placeholder and can be replaced.-->
<div class="pastry-header">
    <header class="caption clear">
        <h1>Pastry</h1>
        <div class="console-selection">
            <select><option>Console: Sega Genesis/Mega Drive</option></select>
        </div>
    </header>

    <div class="mode-selection">
        <ul class="tab-group">
            <li><a routerLink="/edit-tiles" routerLinkActive="active">Tiles</a></li>
            <li><a routerLink="/edit-tile-collisions" routerLinkActive="active">Tile Collision</a></li>
            <li><a routerLink="/edit-tile-stamps" routerLinkActive="active">Stamps</a></li>
            <li><a routerLink="/edit-sprites" routerLinkActive="active">Sprites</a></li>
            <li><a routerLink="/edit-sprite-groups" routerLinkActive="active">Sprite Group</a></li>
            <li><a routerLink="/sprite-cutter" routerLinkActive="active">Sprite Cutter</a></li>
            <li><a routerLink="/edit-level" routerLinkActive="active">Levels</a></li>
            <li><a routerLink="/options" routerLinkActive="active">Options</a></li>
            <li><a routerLink="/memmap" routerLinkActive="active">Memory Map</a></li>
            <li><a routerLink="/vdp" routerLinkActive="active">VDP</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
