<main class="pastry-grid-1col">
    <div>
        <div class="control-group">
            <div class="caption">Melody Sequence<button class="btn-code" (click)="code_onClick($event)">Edit Code</button></div>
            <div class="button-container">
                <span>
                    <label>
                    Tempo:
                    <input type="number" [(ngModel)]="tempo">
                    </label>
                    <button (click)="playMelody()">PLAY</button>
                    <label>
                        Measures to Show:
                        <input type="number" [(ngModel)]="measuresToShow"/>
                    </label>
                    <label>
                        SFX Channel:
                        <select [(ngModel)]="channelSelection">
                            <option [value]="0">PSG Tone 0</option>
                            <option [value]="1">PSG Tone 1</option>
                            <option [value]="2">PSG Tone 2</option>
                            <option [value]="3">PSG Noise</option>
                        </select>
                    </label>
                    <label>
                        Note Volume:
                        <select [(ngModel)]="noteVolumeSelection">
                            <option [value]="15">15 - FULL</option>
                            <option [value]="14">14</option>
                            <option [value]="13">13</option>
                            <option [value]="12">12</option>
                            <option [value]="11">11</option>
                            <option [value]="10">10</option>
                            <option [value]="9">9</option>
                            <option [value]="8">8</option>
                            <option [value]="7">7 - HALF</option>
                            <option [value]="6">6</option>
                            <option [value]="5">5</option>
                            <option [value]="4">4</option>
                            <option [value]="3">3</option>
                            <option [value]="2">2</option>
                            <option [value]="1">1</option>
                            <option [value]="0">0 - MUTED</option>
                        </select>
                    </label>
                    <label>
                        Copy Start:
                        <input type="number" [(ngModel)]="measureCopyStart"/>
                    </label>
                    <label>
                        Copy End:
                        <input type="number" [(ngModel)]="measureCopyEnd"/>
                    </label>
                    <label>
                        Copy Dest:
                        <input type="number" [(ngModel)]="measureCopyDest"/>
                    </label>
                    <button (click)="copyMeasures()">COPY</button>
                </span>
            </div>  
            <div #contentContainer class="content scroll-y scroll-x" (click)="sequencerClick($event)">
                <div *ngFor="let note of _notes" class="sequencer-row" [ngStyle]="{width: (measuresToShow*256+100)+'px'}">
                    <span class="note-name" [ngClass]="{'black': note.label.indexOf('#') >= 0}">{{note.label}}</span>
                </div>
                <div #sequencerTable class="sequencer-table">
                    <div *ngIf="trackerPos > -1" [ngStyle]="{left: (trackerPos/(60/tempo)) + 'px'}" class="tracker-thumb"></div>
                    <div *ngFor="let m of measuresRange; index as i" class="measure" [ngStyle]="{left: (i*256)+'px'}">
                        <span class="measure-number">{{i}}</span>
                        <div>
                            <div class="eigth"></div>
                            <div class="eigth"></div>
                        </div>
                        <div class="alt">
                            <div class="eigth"></div>
                            <div class="eigth"></div>
                        </div>
                        <div>
                            <div class="eigth"></div>
                            <div class="eigth"></div>
                        </div>
                        <div class="alt">
                            <div class="eigth"></div>
                            <div class="eigth"></div>
                        </div>
                    </div>
                    <div *ngFor="let n of melody; index as i" class="melody-note-node" [ngStyle]="{left: n.startTime + 'px'}">
                        <div *ngIf="n.channels[0] >= 0" class="melody-note" [ngStyle]="{top: (n.channels[0]*24)+'px', 'background-color': 'rgb(' + (n.channelVolumes[0]*16) + ',0,0)'}">0</div>
                        <div *ngIf="n.channels[1] >= 0" class="melody-note" [ngStyle]="{top: (n.channels[1]*24)+'px', 'background-color': 'rgb(' + (n.channelVolumes[1]*16) + ',0,0)'}">1</div>
                        <div *ngIf="n.channels[2] >= 0" class="melody-note" [ngStyle]="{top: (n.channels[2]*24)+'px', 'background-color': 'rgb(' + (n.channelVolumes[2]*16) + ',0,0)'}">2</div>
                        <div *ngIf="n.channels[3] >= 0" class="melody-note" [ngStyle]="{top: (n.channels[3]*24)+'px', 'background-color': 'rgb(' + (n.channelVolumes[3]*16) + ',0,0)'}">N</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-code-editor *ngIf="code !== null" [code]="code" (codeChanged)="onCodeChanged($event)"></app-code-editor>