:host {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 16;
}

:host .button-container label:not(:last-child){
    margin-right: 26px;
}

.draw-canvas-container{
    overflow: scroll;
    height: calc(100% - 20px);
    width: calc(100% - 40px);
}

.button-container span:not(:last-child){
    margin-right: 40px;
}

.button-container button{
    height: 18px;
}

/* Modal for image selection */
td {
    border: 1px solid;
    padding: 10px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

h2 {
    font-size: 20px;
    border: 4px double;
    padding: 6px;
    border-radius: 5px;
}
.modal-content img {
    width: 400px;
}

.modal-content canvas{
    width: 400px;
    height: 400px;
}