:host{
    height: calc(100% - 208px);
    width: 100%;
    display: block;
}

:host .icons-container > .icon {
    width: 64px;
    height: 64px;
}

input[type='number'] {
    width: 4em;
}

.sprite-group{
    margin: 4px;
}

.icons-container .sprite-group:hover, .icons-container > .sprite-group {
    cursor: pointer;
    outline: 2px solid #FFF;
}