:host {
    height: 100%;
    padding: 6px 4px 4px 4px;
    width: 40px;
    float: left;
    border-right: ridge;
    background: black;
}

.color-selection{
    height: 100%;
    width: 100%;
}
.color-selection > .palette-swatch {
    float: none;
    height: calc(6.25% - 4px);
    max-height: 34px;
    margin-right: 0;
    width: 100%;
    cursor: pointer;
}    

.color-selection .palette-swatch.active, .color-selection .palette-swatch:hover {
    border: 4px solid #FFF;
    box-shadow: inset 0 0 5px 2px #000;
}

button{
    display: block;
    height: 30px;
    width: 30px;
    padding: 2px;
    margin-bottom: 8px;
}

button > img{
    width: 100%;
}

button.active, button:hover{
    border: 2px solid white;
    background: #A44;
}