<div class="control-group tile-library">
    <div class="control-content">
        <div class="caption">Stamp Library&nbsp;({{applicationState.stamps.length}})<button class="btn-code" (click)="code_onClick($event)">Edit Code</button></div>
        <div class="button-container">
            <button class="btn-add" (click)="add_onClick($event)">Add</button>
            <button class="btn-remove" (click)="remove_onClick($event)">Remove</button>
        </div>  
        <div class="fill-over-status icons-container clear" [ngStyle]="{background: applicationState.activePalette[0].toCSS()}">
            <div class="icon" *ngFor="let stamp of applicationState.stamps; index as i" [ngStyle]="{'grid-template-rows': stamp.gridTemplateRows(), 'grid-template-columns': stamp.gridTemplateColumns(), width: stamp.width * 16 + 'px', height: stamp.height * 16 + 'px'}" (click)="icon_onClick($event, i)" (mouseleave)="library_onMouseLeave($event)" (mouseenter)="icon_onHover($event, i)" [ngClass]="{'active': stamp === applicationState.activeStamp}"> 
                <img *ngFor="let tile of stamp.tiles; index as j" src="{{applicationState.tileImageData.get(tile)}}"/>
            </div>   
        </div>
        <div class="tool-status">{{tooltip}}</div>
    </div>
</div>

<app-block-element-preview *ngIf="showNewStampDialog" title="Create New Stamp" [min]="1" [max]="64" (sizeSelected)="onSizeSelected($event)"></app-block-element-preview>
<app-code-editor *ngIf="code !== null" [code]="code" (codeChanged)="onCodeChanged($event)"></app-code-editor>