/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #dedede;
}
h1,h2,h3,h4,h5,h6{
    font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
.pointer{ cursor: pointer;}
.no-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
/* Common Controls */
canvas {  
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.caption{
    color: #FFF;
    text-shadow: 2px 2px 4px #000;
}
.palette-swatch {
    background: #FFF;
    border: 2px ridge;
    display: inline-block;
}

.control-group{
    padding: 6px;
    width: 100%;
    height: 100%;
}
    .control-group .tool-status {
        background: #DDD;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 16px;
    }
    .control-content {
        border: 2px ridge;
        box-shadow: 0 0 2px;
        height: 100%;
        width: 100%;
        background: #000;
        position: relative;
        padding-top: 26px;
    }

    .control-content.tab-group{
        padding-top: 0;
    }

    .control-content > .caption {
        font-size: 16px;
        background: #888;
        padding: 4px;
        width: 100%;
        height: 26px;
        position: absolute;
        top: 0;
    }
    .control-content > .fill-over-status{
        height: calc(100% - 16px);
        position: relative;
    }
    .control-group .caption .btn-code {
        background: #666;
        border: none;
        box-shadow: inset 0 0 2px;
        float: right;
        cursor: pointer;
        padding: 3px 6px;
        color: #DDD;
        font-size: 12px;
    }

/* TABS */

/* TAB CONTROLS */
.tab-group {
    list-style: none;
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.tab-group > li {
    float: left;
    background: #DDD;
    height: 100%;
    padding: 5px 10px;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
}

.tab-group:after {
    display: block;
    content: '';
    clear: both;
}

.tab-group > li:not(:last-child) {
    border-right: 2px solid #FFF;
}

.tab-group > li:hover, .tab-group > .active {
    color: #FFF;
    background: #DDF;
    box-shadow: inset 0 0 5px #AAF;
}
/*
    MODALS
*/
.modal {
    position: fixed;
    top: 100px;
    left: 50px;
}
    .modal:after {
        content: '';
        display: block;
        position: fixed;
        background: rgba(0,0,0,0.43);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    .modal-content{
        border: 4px ridge;
        box-shadow: 2px 2px 10px 2px;
        padding: 40px 10px 10px 10px;
        background: #DDD;
    }
    .modal .caption {
        height: 30px;
        background: #00F;
        padding: 5px;
        position: absolute;
        left: 4px;
        top: 4px;
        right: 4px;
    }
    .modal .buttons-container {
        text-align: right;
    }
    
    .modal button {
        font-size: 18px;
        margin-left: 10px;
    }