*{
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #dedede;
    overflow: auto;
}

/* FIRST COLUMN IS 400PX WIDE */
.pastry-grid-1col, .pastry-grid-2col{
    height: calc(100% - 92px);
}
.pastry-grid-2col {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 400px min-content;
    height: calc(100% - 92px);
}
.pastry-grid-1col{
    display: grid;
    width: 100%;
    grid-template-columns: min-content;
}

.caption{
    background: #0F2027;
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    color: #FFF;
}

h1, h2, h3, h4,h5,h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4,h5,h6, .tab-group {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.tab-group {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab-group > li {
    float: left;
    margin: 4px;
}

.tab-group > li > a{
    padding: 4px;
    background: #4AC29A;
    background: -webkit-linear-gradient(to top, #BDFFF3, #4AC29A);
    background: linear-gradient(to top, #BDFFF3, #4AC29A);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;  
}

.tab-group:after {
    content: '';
    display: block;
    clear: both;
}

.tab-group .active, .tab-group > li:hover > a{
    background: #3494E6;
    background: -webkit-linear-gradient(to top, #EC6EAD, #3494E6);
    background: linear-gradient(to top, #EC6EAD, #3494E6);
    color: #dedede;
}

.control-group {
    margin: 12px 0 0 12px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    background: #CCC;
    position: relative;
    padding-bottom: 22px;
    width: 100%;
}

.control-group.fill{
    height: 100%;
}

.pastry-grid-2col > div:last-child{
    padding-left: 18px;
}

.pastry-grid-2col > div:last-child .control-group{
    height: 100%;
}

.control-group .content {
    position: absolute;
    top: 26px;
    bottom: 20px;
    left: 0;
    right: 0;
}

.control-group .button-container + .content {
    top: 56px;
}

.control-group .button-container input{
    height: 18px;
}

.control-group .button-container {
    padding: 4px;
}

.control-group .button-container button {
    margin: 0 4px;
}

.control-group .caption {
    padding: 4px;
    position: relative;
}

.control-group .caption .btn-code {
    position: absolute;
    right: 4px;
    font-size: 12px;
    top: 4px;
    border-radius: 4px;
    background: #DDD;
    border: none;
    padding-top: 2px;
    /* color: #FFF; */
    cursor: pointer;
}

/* Common selection controls */
.icons-container {
    overflow-y: scroll;
}
.icons-container img, .draw-canvas-container img, .drawing-surface, .crisp {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.draw-canvas-container{
    overflow: scroll;
    top:0;
    bottom:0;
    left: 80px;
    right:0;
    cursor: crosshair;
    padding: 0;
    margin: 0;
    position: absolute;
}

.icons-container > .icon{
    margin: 4px;
}
.icons-container > .icon:hover, .icons-container > .icon.active {
    cursor: pointer;
    outline: 2px solid #FFF;
}
.icon{
    float: left;
    display: grid;
    grid-auto-flow: row;
}
.icon > img{
    width: 16px;
    height: 16px;
}

.tool-status {
    height: 20px;
    padding: 4px;
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #DDD;
}

.palette-swatch.active,.palette-swatch:hover {border: 2px solid #FFF;box-shadow: inset 0 0 1px 2px #000;}

/*
    MODALS
*/
.modal {
    position: fixed;
    top: 100px;
    left: 50px;
    z-index: 10;
}
    .modal:after {
        content: '';
        display: block;
        position: fixed;
        background: rgba(0,0,0,0.43);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    .modal-content{
        border: 4px ridge;
        box-shadow: 2px 2px 10px 2px;
        padding: 40px 10px 10px 10px;
        background: #DDD;
    }
    .modal .caption {
        height: 30px;
        background: #00F;
        padding: 5px;
        position: absolute;
        left: 4px;
        top: 4px;
        right: 4px;
    }
    .modal .buttons-container {
        text-align: right;
    }
    
    .modal button {
        font-size: 18px;
        margin-left: 10px;
    }

.screen-preview {
    height: 224px;
    width: 320px;
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-preview {
    width: 100px;
    height: 100px;
    background: #0D0;
    border: 1px solid #0F0;
    color: #FFF;
    text-shadow: 1px 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Utilities */
.clear:after{
    content: '';
    display: block;
    clear: both;
}
.pointer{ cursor: pointer;}
.no-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.scroll-y{
    overflow-y: scroll;
}
.scroll-x{
    overflow-x: scroll;
}
.scroll-xy, .scroll{
    overflow: scroll;
}

.overlay{
    position: absolute;
    pointer-events: none;
}