:host {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 21;
    cursor: crosshair;
}

    :host .control-content > .fill-over-status {
        height: calc(100% - 36px);
    }
    .tiles-container {
        overflow-y: scroll;
    }

    .icon{
        width: 32px;
        height: 32px;
    }