<div class="control-group tile-library">
    <div class="control-content">
        <div class="caption">Tile Library&nbsp;({{tiles.length}})<button class="btn-code" (click)="code_onClick($event)">Edit Code</button></div>
        <div class="button-container">
            <button class="btn-add" (click)="add_onClick($event)">Add</button>
            <button class="btn-remove" (click)="remove_onClick($event)">Remove</button>
        </div>  
        <div class="fill-over-status tiles-container clear">      
            <img *ngFor="let icon of tileIcons; index as i" src="{{icon}}" (click)="icon_onClick($event, i)" (mouseleave)="library_onMouseLeave($event)" (mouseenter)="icon_onHover($event, i)" [ngClass]="{'active': tiles[i] === activeTile}"/>     
        </div>
        <div class="tool-status">{{tooltip}}</div>
    </div>
</div>
<app-code-editor *ngIf="code !== null" [code]="code" (codeChanged)="onCodeChanged($event)"></app-code-editor>