:host {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 21;
}

.drawing-surface, .grid-overlay {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    cursor: crosshair;
}
:host .button-container label:not(:last-child){
    margin-right: 26px;
}

.draw-canvas-container{
    position: static;
}

.grid-overlay {
    z-index: 1;
    pointer-events: none;
}