<div class="control-group edit-active-tile">
    <div class="control-content">
        <div class="caption">Edit Tile<button class="btn-code" (click)="code_onClick($event)">Edit Code</button></div>
        <div class="fill-over-status clear">
            <app-draw-color-selector></app-draw-color-selector>
            <div class="draw-canvas-container">
                <img #drawingSurface draggable="false" ondragstart="return false;" class="drawing-surface no-select" (mousedown)="canvas_onMouse($event)" (mousemove)="canvas_onMouse($event)" src="{{applicationState.tileImageData.get(applicationState.activeTile)}}"/>
            </div>
        </div>
        <div class="tool-status"></div>
    </div>
</div>
<app-code-editor *ngIf="showCodeEditor" [code]="code" (codeChanged)="onCodeChanged($event)"></app-code-editor>