/* Modal for image selection */
td {
    border: 1px solid;
    padding: 10px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

h2 {
    font-size: 20px;
    border: 4px double;
    padding: 6px;
    border-radius: 5px;
}
.modal-content img {
    width: 400px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.modal-content canvas{
    width: 400px;
    height: 400px;
}

.palette-swatch {
    border: none;
    display: inline-block;
    width: 14px;
    height: 20px;
}