<div class="modal" (paste)="onImagePaste($event)">
    <div class="modal-content">
        <div class="caption">Select Image</div>
        <table>
            <tr>
                <th>
                    Source
                </th>
                <th>
                    Options
                </th>
                <th>
                    Output
                </th>
            </tr>
            <tr>
                <td>
                    <h2 *ngIf="selectedImage === null">Drag or Paste an Image</h2>
                    <img #imageImportSource (load)="reprocessImage()" [hidden]="selectedImage === null" src="{{selectedImage}}" crossorigin="anonymous"/>
                </td>
                <td>
                    <label>Transparency:<br/>
                        <select (change)="onTransparencyChange($event)" [(ngModel)]="transparencySelection">
                            <option value="none">None</option>
                            <option value="upper-left">Use Upper Left Pixel</option>
                            <option value="fixed">Use Fixed Color</option>
                        </select>
                    </label>
                    <br/><br/>
                    <label>Palette:<br/>
                        <select (change)="onPaletteChange($event)" [(ngModel)]="paletteSelection">
                            <option *ngFor="let palette of applicationState.palettes; index as i" [ngValue]="i">Palette {{i}}</option>
                            <option [ngValue]="-1">Replace Active Palette</option>
                        </select>
                    </label>
                    <div>
                        <ng-template ngFor let-color [ngForOf]="palette" let-j="index">
                            <div class="palette-swatch" [ngStyle]="{'backgroundColor': color.toCSS()}"></div>
                        </ng-template>
                    </div>
                    <br/><br/>
                    <label>
                        Dithering:<br/>
                        <select [(ngModel)]="ditheringMode" (change)="reprocessImage()">
                            <option value="none">None</option>
                            <option value="floyd-steinberg">Floyd-Steinberg</option>
                        </select>
                    </label>
                </td>
                <td>
                    <canvas class="crisp" #imageImportCanvas></canvas>
                </td>
            </tr>
        </table>
        *Image may be stretched to fit pixel dimensions of target<br/>
        *Output preview may not have correct aspect ratio
        <hr/>
        <button (click)="ok_click($event)">OK</button>
        <button (click)="cancel_click($event)">CANCEL</button>
    </div>
</div>

<!-- <app-loading-spinner *ngIf="showLoading" caption="Processing Image..." [progress]="processingProgress"></app-loading-spinner> -->