<div class="control-group">
    <div class="control-content clear">
        <div class="caption">Trace Image</div>
        <div class="draw-canvas-container">
        <img *ngIf="!!applicationState.traceImage" src="{{applicationState.traceImage}}"/>
        <div *ngIf="!applicationState.traceImage">(No image selected)</div>
        <button (click)="selectImage_click($event)">Set Trace Image</button>
        </div>
        <div class="tool-status"></div>
    </div>
</div>
<div class="modal" *ngIf="showImageSelection" (paste)="onImagePaste($event)">
    <div class="modal-content">
        <div class="caption">Select Image</div>
        <h2>Drag or Paste an Image</h2>
        <hr/>
        <button (click)="cancel_click($event)">CANCEL</button>
    </div>
</div>